body{

}
.MainContainer{
	margin: 0 auto;
	width: 95%;
	max-width: 1025PX;
	min-width: 1024px;
	border: 1px solid black;
}
.Title{

	/*background-image: url('../Images/space.jpg');*/
	/*height: 400px;*/
	color: #ffffff;
	padding-bottom: 90px;
	text-align: center;
}
#Message{
	/*clear: both;*/
	margin: 0 auto;
	padding-top: 90px;
}

#TitleName{
	font-size: 3em;
	
}
#TitleDes{

}

.TextHov{
	padding: 5px;
	position: absolute; 
	top: 200px; 
	left: 0; 
	width:50%;
	margin-left: 15px;
	color: #fff;
	background:rgba(0,0,0,0.7);
}

header{
	background-color: #00004D;
	max-width: 100%;
	text-align: center;
	padding: 7px;
	font-size: 1.5em;
}

header nav ul{
	list-style-type: none;
	margin-bottom: 0px;
	width: 100%;
}
ul li{
	display: inline;
	padding: 7.25px;
}
ul li a:link, ul li a:visited {
	color: #fff;
	text-decoration: none;
}
ul li a:hover, ul li a:active{
	color: orange;
	border-bottom: 3px solid orange;
}
#go{
	transition: 1s;
}
#selected{
	color: orange;
	border-bottom: 3px solid orange;
}

.Button{
	padding: 2px;
	padding-top: 1px;
	padding-bottom: 1px;
	border: 1px solid black;
	width: 52px;
	background-color: darkblue;
}

.Columns{
	clear: both;
	
}
.Column-Header{
	background-color: #00004D;
	color: #fff;
	text-align: center;
	padding: 5px;
}
.imgholder{
	margin-left: auto;
    margin-right: auto;
	opacity: 0.5
}
.imgholder:hover{
	opacity: 1;
}
.inline-blocks{
	display: inline-block;

}
#A{
	width: 32%;
	text-align: center;
	padding: 5px;
}
#B{
	width: 32%;
	text-align: center;
	padding: 5px;
}
#C{
	width:32%;
	text-align: center;
	padding: 5px;

}
footer{
	background-color: #00004D;
	color: #fff;
	margin: 0 auto;
	text-align: center;
	width: 100%;
	clear: both;
}
footer p{
	padding: 5px;
}
.Info{
	display: inline;
}
.table{
	display: block;
}
#List-A{
	width:20%;

	padding: 5px;
}
#List-B{
	width:20%;
	padding: 5px;
}
#List-C{
	width:20%;
	padding: 5px;
}
.back-Top{
	position: absolute;
}

