#mainWrapper{
   color:black;
   /* text-align: center; */
   padding: 5px;
   /* border: 1px dashed goldenrod; */
   height: 600px;
}
#mainWrapper, a{
    color:black;
    width: 65%;
    margin: auto;
}
#header{
    text-align: center;

    color: white;
    border: 1px dashed transparent;
    background-color: cornflowerblue;
}

#hero {
    width: 75%;
    margin: auto;
    padding: 5px;
}

#description{
    font-size: 15pt;
}

#leftSide{
    margin-top: 5px;
    float:left;
    width: 25%;
    /* border: 1px dashed blue; */
    /* justify-content: space-between; */
}

#rightSide{
    margin-top: 5px;
    margin-left: 26%;
    /* border: 1px  dashed crimson; */
    padding: 5px;
}


#aboutBlock{
    margin-top: 5px;
    /* border: 1px dashed sienna; */
}